body {
  background: rgb(175, 174, 174);
}
#slider {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  max-width: 56rem;
}
.image {
  width: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  width: 25%;
}
.page img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#overflow {
  overflow: hidden;
}
#slider input {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

#active {
  display: flex;
}
#active label {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #2d51c5;
  border: 5px solid rgb(175, 174, 174);
  display: inline-block;
  cursor: pointer;
}

#active label:hover {
  background: #e7e9ec;
}

#switch1:checked ~ #slides .image {
  margin-left: 0%;
}
#switch2:checked ~ #slides .image {
  margin-left: -100%;
}
#switch3:checked ~ #slides .image {
  margin-left: -200%;
}
#switch4:checked ~ #slides .image {
  margin-left: -300%;
}

#slides .image {
  transition: all 0.8s ease-in-out;
}
#switch1:checked ~ * #active label:nth-child(1),
#switch2:checked ~ * #active label:nth-child(2),
#switch3:checked ~ * #active label:nth-child(3),
#switch4:checked ~ * #active label:nth-child(4) {
  border: 3px solid #2d51c5;
  background: #e7e9ec;
}

/*--------------------------------*/
.inner-t {
  width: 400%;
  display: flex;
}

.text {
  width: 25%;
}

.slides-t {
  width: 100%;
}
#overflow-t {
  width: 100%;
  overflow: hidden;
}

#switch1:checked ~ * h1 {
  transform: translate(0px, 0);
}
#switch2:checked ~ * h1 {
  margin-left: -100%;
}
#switch3:checked ~ * h1 {
  margin-left: -200%;
}
#switch4:checked ~ * h1 {
  margin-left: -300%;
}
h1 {
  transition: all 0.8s ease-in-out;
}

/*-----------------------*/
@media (max-width: 680px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-top: 20px;
  }

  .wrapper #slides-t {
    align-self: flex-start;
  }

  h1 {
    font-size: 24px;
  }
}
@media (max-width: 680px) {
  h1 {
    font-size: 18px;
  }
}
